@import '~@home/styles/scss/variables';

.wrapper {
    flex-basis: 87px;
    width: 100%;
    background: $colorBg2;
    color: $colorWhite;
    border-top: 2px solid $colorActive;
    box-shadow: 0px -3px 6px -1px #000000;
    position: relative;
    z-index: 2;
    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;

        a {
            color: $colorWhite;
            text-decoration: none;
        }

        li {
            padding: 16px;
            min-width: 150px;
            text-align: center;

            &.active {
                background: $colorActive;
            }

            b {
                display: block;
                svg {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}
