.wrapper {
    font-family: Roboto,sans-serif;
    background: black;
    color: #fff;
    padding: 8px;
}

.message {
    header {
        margin-bottom: 4px;
    }

    .time {
        color: #fc971f;
        font-size: 12px;
    }

    margin-bottom: 8px;
}
