@import "~@home/styles/scss/mixins";
@import "~@home/styles/scss/variables";

.wrapper {
  @include leftColumn();
  background-color: #3b3c3b;
  border-right: 1px solid #494a49;
  .content {
    margin: 0 8px;
    padding: 16px 28px;

    a {
      text-decoration: none;
      color: $colorWhite;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0 0 40px 0;
        padding: 0;
        display: block;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .icon {
          svg {
            width: 1.8em;
            height: 1.8em;
            margin-right: 8px;
          }
        }

        .more {
          svg {
            position: absolute;
            top: 28%;
            right: 0;
            display: none;
          }
        }

        &.active {
          color: $colorActive;

          .more {
            svg {
              fill: $colorActive;
              display: block;
            }
          }
        }

        h3 {
          font-weight: 600;
          font-size: 22px;
          margin: 0;
        }

        p {
          margin: 4px 0 0 0;
        }
      }
    }
  }
}
