@import "~@home/styles/scss/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  background-color: $colorBg2;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #494a49;
  box-shadow: 0px -3px 6px -1px #000000;
  position: relative;

  &.expanded {
    padding-bottom: 18px;

    header {
      margin-bottom: 8px;
    }
  }

  header {
    justify-content: flex-start;
    padding: 0 16px;

    h3 {
      font-size: 14px;
    }

    .dsc {
      flex-basis: 30%;
      margin-left: 8px;
    }

    .expandButton {
      margin-left: 16px;
      cursor: pointer;
    }

    .lightWrapper {
      flex-basis: 80px;
    }

    .hue {
      flex-basis: 29%;
      margin: 0 16px;
      padding-bottom: 8px;

      label {
        display: block;
        margin: 6px 0;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .slider {
      flex-basis: 29%;
    }
  }
}

.light {
  margin-left: 6px;
  border: 4px solid $colorBg;
  svg {
    margin-top: 4px;
    fill: $colorBg;
    width: 2em;
    height: 2em;
  }
}

.seeAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.78);
    background-color: #3b3c3b;
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    width: 2em;
    height: 2em;
  }
}

.saturation {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
}
